$main-color: #BA4270;
$main-color-2: #FBFCFE;
$secondary-color-1: #36536B;
$secondary-color-2: #1B262F;
$secondary-color-3: #DA6D97;
$secondary-color-4: #6C8294;
$heading-font: 'DM Serif Display';
$text-font: 'Public Sans';